{include file="common/meta"}
	<body>

			<!--门店名称-->
			<fieldset class="layui-elem-field">
			<legend>基本信息</legend>
			<div class="layui-field-box">
				<table class="layui-table">
					<tbody id="tbody">
					<tr>
						<th>门店名称</th>
						<td>111111</td>
						<th>门店地址</th>
						<td>222222222222</td>
						<th>门店电话</th>
						<td> 333333333333</td>
					</tr>
					<tr>
						<th>预约单号</th>
						<td>2222222222</td>
						<th>车辆类型</th>
						<td>333333333333</td>
						<th>车牌号</th>
						<td>44444444444444444</td>

					</tr>
					<tr>
						<th>出厂日期</th>
						<td> 11111111111111</td>

						<th>保养类型</th>
						<td>1111111111111111</td>
						<th>公里数</th>
						<td>111111111111111111111</td>
					</tr>
					<tr>
						<th>车主姓名</th>
						<td>11111111111111111111</td>
						<th>车主电话</th>
						<td>111111111111111111111</td>
						<th>备注信息</th>
						<td>11111111111111111111</td>
					</tr>
					</tbody>
				</table>
			</div>
		</fieldset>


			<!--订单信息-->
			<fieldset class="layui-elem-field">
			<legend>订单信息</legend>
			<div class="layui-field-box">
				<table class="layui-table">
					<tbody id="tbody1">
					<tr>
						<th>订单号</th>
						<td>22222222222222222222</td>
						<th>生成时间</th>
						<td>22222222222222</td>
						<th>流水分类</th>
						<td> 2222222222</td>
					</tr>
					<tr>
						<th>金额(元)</th>
						<td>111111111111111</td>
						<th>流水增减</th>
						<td>{22222222222222</td>
						<th>支付方式</th>
						<td>22222222222222</td>
					</tr>
					<tr>
						<th>技术操作人</th>
						<td>22222222222222222222</td>
						<th>操作时间</th>
						<td>22222222222222</td>
						<th>流水状态</th>
						<td>22222222222222</td>
					</tr>
					</tbody>
				</table>
			</div>
			</fieldset>


			<!--商品信息-->
			<fieldset class="layui-elem-field">
			<legend>商品信息</legend>
			<div class="layui-field-box">
				<table class="layui-table">
					<tbody id="tbody2">
					<tr>
						<th>商品名称</th>
						<td>2222222222222</td>
						<th>数量</th>
						<td>333333333333333</td>
						<th>价钱</th>
						<td> 333333333333</td>
						<th>采购人</th>
						<td>33333333</td>
						<th>采购操作时间</th>
						<td> 33333</td>
					</tr>
					</tbody>
				</table>
			</div>
		</fieldset>

	</body>
</html>
