{include file="common/meta"}
    <body>
        <div class="x-nav">
            <span class="layui-breadcrumb">
        <a href="{:url('Index/welcome')}">首页</a>
        <a>
            <cite>友情链接列表</cite></a>
      </span>
            <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"  href="javascript:location.replace(location.href);" title="刷新"><i class="layui-icon" style="line-height:30px">ဂ</i></a>
        </div>
        <div class="x-body">
            <form class="layui-form x-center"  style="width:70%">
                <div class="layui-form-pane" style="margin-top: 15px;">
                  <div class="layui-form-item">
                    <label class="layui-form-label">链接名</label>
                    <div class="layui-input-inline">
                      <input type="text" name="name"  placeholder="链接名" autocomplete="off" class="layui-input">
                    </div>
                    <label class="layui-form-label">URL</label>
                    <div class="layui-input-inline">
                      <input type="text" name="link_url"  placeholder="http://www.baidu.com" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-input-inline" style="width:80px">

                        <button class="layui-btn"   lay-filter="add" lay-submit=""><i class="layui-icon">&#xe608;</i>添加</button>
                    </div>
                  </div>
                </div> 
            </form>
            <xblock>
                <button class="layui-btn layui-btn-danger" onclick="x_admin_show('友情链接回收站','{:url("Links/del_lists")}')"><i class="layui-icon"></i>回收站</button>
                <span class="x-right" style="line-height:40px">共有数据：88 条</span></xblock>
            <table class="layui-table">
                <thead>
                    <tr>
                        <th>
                            <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
                        </th>
                        <th>
                            ID
                        </th>
                        <th>
                            链接名
                        </th>
                        <th>
                            url
                        </th>
                        <th>
                            排序
                        </th>
                        <th>
                            操作
                        </th>
                    </tr>
                </thead>
                <tbody id="x-link">
                {foreach $data as $k=>$v}
                    <tr>
                        <td>
                            <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='{$v.id}'><i class="layui-icon">&#xe605;</i></div>
                        </td>
                        <td>
                            {$v.id}
                        </td>
                        <td>
                            {$v.name}
                        </td>
                        <td >
                            http://www.baidu.com
                        </td>
                        <td >
                            0
                        </td>
                        <td class="td-manage">
                            <a title="编辑" href="javascript:;" onclick="link_edit('编辑','link-edit.html','4','','510')"
                            class="ml-5" style="text-decoration:none">
                                <i class="layui-icon">&#xe642;</i>
                            </a>
                            <a title="删除" href="javascript:;" onclick="link_del(this,'{$v.id}')"
                            style="text-decoration:none">
                                <i class="layui-icon">&#xe640;</i>
                            </a>
                        </td>
                    </tr>
                {/foreach}
                </tbody>
            </table>

            <div class="page">
                {$data|raw}
            </div>
        </div>

        <script>
            layui.use(['form','layer'], function(){
                $ = layui.jquery;
                var form = layui.form
                    ,layer = layui.layer;

                //自定义验证规则
                form.verify({
                    name: function(value){
                        if(value.length < 2){
                            return '请确认您的链接展示名是否正确！';
                        }
                    }
                });

                //监听提交
                form.on('submit(add)', function(data){
                    $.ajax({
                        type:"POST",
                        url:"{:url('Links/save')}",
                        data:data.field,
                        dataType:"json",
                        success:function(res){
                            console.log(res)
                            if(res.status==1){
                                layer.alert(res.message,{icon:1,time:2000},function () {
                                    $('#x-link').prepend('<tr><td><div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id=\'{$v.id}\'><i class="layui-icon">&#xe605;</i></div></td><td>1</td><td>'+data.field.name+'</td><td>'+data.field.link_url+'</td><td>0</td><td class="td-manage"><a title="编辑"href="javascript:;"onclick="link_edit(\'编辑\',\'link-edit.html\',\'4\',\'\',\'510\')"class="ml-5"style="text-decoration:none"><i class="layui-icon">&#xe642;</i></a><a title="删除"href="javascript:;"onclick="link_del(this,112)"style="text-decoration:none"><i class="layui-icon">&#xe640;</i></a></td></tr>');
                                    return false;
                                });
                            }else{
                                layer.alert(res.message);
                            }
                        }
                    });
                    return false;
                });
            });


            //批量删除提交
             function delAll () {
                layer.confirm('确认要删除吗？',function(index){
                    //捉到所有被选中的，发异步进行删除
                    layer.msg('删除成功', {icon: 1});
                });
             }
            
            

            // 用户-编辑
            function link_edit (title,url,id,w,h) {
                x_admin_show(title,url,w,h); 
            }
            
            /*删除*/
            function link_del(obj,id){
                layer.confirm('确认要删除吗？',function(index){
                    //发异步删除数据
                    $.post("{:url('Links/delete')}",{id:id},function (data) {
                        if(data.status==1){
                            $(obj).parents("tr").remove();
                            layer.alert(data.message,{icon:1,time:2000},function () {
                                window.location.reload();
                            });
                        }else{
                            layer.alert(data.message);
                        }
                    });
                });
            }
            </script>
    </body>
</html>